PORT=PORT
BASE_URL=YOUR_API_BASE_URL
MONGO_URI=YOUR_MONGO_URI
JWT_SECRET=$(openssl rand -base64 32) # Generate a random string 
FRONTEND_URL=YOUR_FRONTEND_URL
MIDTRANS_SERVER_KEY=SB-Mid-server-YOUR_KEY
MIDTRANS_CLIENT_KEY=SB-Mid-client-YOUR_KEY
SMTP_EMAIL=YOUR_EMAIL
SMTP_PASSWORD=YOUR_APP_PASSWORD
ADMIN_EMAIL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD =